/* Universal selector to resize overall page */
/* Total page width 1600 and 280 padding in both side, hence */
/* 1600-(2*140) = 1320 */
/* 1320/1600 = 82.5% */
/* Font Import */
/* Common CSS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

.container{
    width:82.5%;
    max-width: 1320px;
    max-height: 600px;
    margin:0 auto;
    border-radius: 16px;
}

/* Header css */
header .banner{
    
    /* background-image: url("../resources/Banner\ Image.png"); */
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Banner\ Image.png");
    border-radius: 16px;
}

header .container .banner_text{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;


}
header .container .banner_text h3{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    padding-top: 177px;
    margin-bottom: 0px;

}
header .container .banner_text h2{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    line-height: 95px; /* 131.944% */
    max-width: 766px;
    margin-top: 15px;
    margin-left: 250px;
    padding: 5px 5px 177px 5px;

}

/* Discount section */

.discount{
    text-align: center;
    font-family: Inter;
    margin-top: 120px;
}

.discount .titletext{

    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.discount .more-title-text{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;

}
.discount .more-more-title-text{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 45px;
}
.discount img{
    max-width: 661.9px;
    max-height: 413px;
}

.midnight-party{
    margin-top: 140px;
    background-image: url("../resources/Vectorrr.png");
    max-width: 1320px;
    padding-top: 60px;
    /* padding-bottom: 142px; */
}

.midnight-party .extra{
    display:flex;
    justify-content: space-around;
    align-content: center;
    
}



.midnight-party .partyheader{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    text-align: left;
    padding-left: 82px;
    padding-top: 90px;
    max-width:520px;
    margin-bottom: 0px;

}
.midnight-party .party-para{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-left: 82px;
    margin-top: 24px;
}
.midnight-party a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 158px;
    margin-top: 48px;
    padding-bottom: 142px;
}
.location{

    background-color:  rgba(255, 0, 0, 0.10);
    margin-top: 120px;
    align-items: center;

}


.location .txt_location{
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
}
.location .txt_location .rd{
    color: #F00;
}
.location .button-join{
    padding-bottom: 214px;
    padding-top: 64px;
    align-items: center;
    padding-left: 40%;

}
.location .button-join button{
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    padding: 16px 32px;
    justify-content: center;
}

/* Coming soon */
.commingsoon{
    margin-top: 120px;
}

.commingsoon .comingsoonparent{

    display: flex;
    justify-content: space-evenly;
}

.commingsoon h4{
    color: #F00;
    text-align: Left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.commingsoon h3{
    text-align: Left;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.commingsoon p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */


}
.commingsoon .snd{
    border-radius: 463px;
    border: 15px solid #F00;
}
.commingsoon img{
    padding: 20px;
}
.commingsoon .trd{
    align-items: end;
    padding-left: 90px;
}
.commingsoon .trd h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;

}

.commingsoon .trd img{
    max-width: 140px;
    max-height: 140px;
    align-self: auto;
    margin-top: 15px;
}
/* portfolio */
.portfolio{
    margin-top:-350px;
    padding-bottom: 180px;
}
.portfolio .description {
    margin-top: 140px;
}
.portfolio .description h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}
.portfolio .description h2{

    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.portfolio .description p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 15px;
}


.portfolio  img{
    border-radius: 16px;
    max-width: 100%; /* Set maximum width to 100% of the container */
    max-height: 100%; /* Set maximum height to 100% of the container */
}
.portfolio .second_block{
    display: flex;
    gap:10px;
    flex-direction: row;

    
}
.portfolio .first_block{
    display: flex;
    gap:10px;
    flex-direction: row;

}

.subscribe{
    margin-top: 400px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.subscribe > .img61{
    padding-top: 80px;
    margin-bottom: 0px;
}

.subscribe h2{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
}
.subscribe p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 22px;
}

.subscribe .form-subscribe{
    margin-top: 40px;
    padding-bottom: 80px;

}
.subscribe input{
    border-radius: 50px;
    background: #FFF;
    max-width: 648px;
    max-height: 72px;
    min-width: 30%;
    min-height: 38px;
    border:none
}

.subscribe button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border:none;
    max-width: 648px;
    max-height: 72px;
    min-width: 12%;
    min-height: 48px;
    
}
.form-subscribe{
    position: relative;
}
.item2, .item1 {
    position: absolute;
}

.item1 {
    z-index: 1;
    left: 47.5%; /* Adjust as needed */
    transform: translateX(-47.5%); 
    /* Center the item horizontally */
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
    border: none;
}

.item2 {
    z-index: 2;
    left: 58.45%; /* Adjust as needed */
    transform: translateX(-58.45%); 
    /* Center the item horizontally */
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 5px;
}





/* Footer */

.socialmedia{
    width:100%;
    max-width: 1600px;
    max-height: 609px;
    background-color: #070211;
    margin-top: 100x;
}

.socialmedia p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}
.socialmedia .row1, .row3{
    display: flex;
    justify-content:space-around;
    padding-top: 120px;
}

.socialmedia .row2{
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-top: 98px;
}

/* Sale */
/* Sale container design */
.sale{
    margin-top: 150px;
}
.sale h6{
color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: normal;
text-align: center;
}

.sale h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

.sale h1 span{
    color: #F00;
}
.sale p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
}


.top{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.b {
    margin-top: 50px;
    margin-left: -100px; /* Adjust as needed */
    padding-top: 600px;

}

.a {
    z-index: 2; /* Ensure item2 is on top of item1 */
    /* You can adjust the positioning as needed */
   padding-top: 790px;
}

.bottom{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin-bottom: 500px;
    
}

.c{
    margin-top: 0px;
    margin-bottom: -200px;
    z-index: 2; 
}

.saleimg{
    margin-top: -550px;

}